.activities {
  table {
    margin-bottom: 4px;
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
  }

  th,
  td {
    border: 1px solid #d4d4d4;
    text-align: center;
  }

  th {
    background: #dddddd;
  }
}
